<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personajes</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5 mb-5"> Gestión de personajes </h1>
        <p><a href="/">Volver al menú de gestión</a></p>
    </div>
    <div class="container">
        <div class="row row-col-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">Añadir personaje</h3>
                        <form action="/characters/addCharacter" method="POST">
                            <label>Nombre</label>
                            <input type="text" class="form-control mb-3" name="name" required>
                            <label>Participante asociado</label>
                            <input type="number" class="form-control mb-3" name="participant" required>
                            <label>Edad</label>
                            <input type="number" class="form-control mb-3" name="age">
                            <button class="btn btn-primary" type="submit"> Guardar </button>
                        </form>
                    </div>



                    <div class="card-body">
                        <h3 class="text-center">Modificar personaje</h3>
                        <form action="/characters/updateCharacter" method="POST">
                            <input type="hidden" name="_method" value="PUT">
                            <label>Identificador</label>
                            <input type="number" class="form-control mb-3" name="idCharacter" required>
                            <label>Nombre</label>
                            <input type="text" class="form-control mb-3" name="name">
                            <label>Participante asociado</label>
                            <input type="number" class="form-control mb-3" name="participant">
                            <label>Edad</label>
                            <input type="number" class="form-control mb-3" name="age">
                            <button class="btn btn-primary" type="submit"> Guardar </button>
                        </form>
                    </div>

                    <div class="card-body">
                        <h3 class="text-center">Borrar personaje</h3>
                        <form action="/characters/deleteCharacter" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <label>Identificador</label>
                            <input type="number" min=0 class="form-control mb-3" name="idCharacter" required>
                            <button class="btn btn-primary" type="submit"> Borrar </button>
                        </form>
                    </div>

                    <div class="card-body">
                        <h3 class="text-center">Obtener personajes por nombre</h3>
                        <form action="/characters/getCharacterByName" method="GET">
                            <label>Nombre</label>
                            <input type="text" class="form-control mb-3" name="name">
                            <button class="btn btn-primary" type="submit"> Buscar </button>
                        </form>
                    </div>

                    <div class="card-body">
                        <h3 class="text-center">Obtener todos los personajes</h3>
                        <form action="/characters/getAllCharacters" method="GET">
                            <button class="btn btn-primary" type="submit"> Buscar </button>
                        </form>
                    </div>
                    <div class="card-body">
                        <h3 class="text-center">Obtener personaje por identificador (único)</h3>
                        <form action="/characters/getCharacterById" method="GET">
                            <label>Identificador</label>
                            <input type="number" min=0 class="form-control mb-3" name="idCharacter" required>
                            <button class="btn btn-primary" type="submit"> Buscar </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
