<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5 mb-5"> APP API-REST Python - Flask - MongoDB </h1>
    </div>
    <div class="container">
        <div class="row row-col-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
            <div class="col-md-6 mb-3">
                <div class="card-body">
                    <form action="/movies/movieFound" method="GET">
                        <label>¿Qué película deseas buscar?</label>
                        <input type="number" class="form-control mb-3" name="idMovie" required>
                        <button class="btn btn-primary" type="submit"> Buscar </button>
                    </form>
                </div>

                <div class="card">
                    <h5 class="text-center">Añadir película</h5>
                    <div class="card-body">
                        <form action="/movies/addMovie" method="POST">
                            <label>¿Cuál es el título de la película?</label>
                            <input type="text" class="form-control mb-3" name="title" required>
                            <br></br>
                            <label>¿Cuál es la duración (en minutos) de la película?</label>
                            <input type="number" class="form-control mb-3" name="duration" required>
                            <br></br>
                            <label>¿Cuál es la URL de la película?</label>
                            <input type="url" class="form-control mb-3" name="urlVideo">
                            <br></br>
                            <label>¿Cuál es la URL de la portada de la película? (Opcional)</label>
                            <input type="url" class="form-control mb-3" name="urlTitlePage">
                            <br></br>
                            <label>¿Cuál es la fecha de estreno? (Opcional)</label>
                            <input type="date" class="form-control mb-3" name="releaseDate">
                            <br></br>
                            <label>¿Cuál es la sinopsis de la película? (Opcional)</label>
                            <input type="text" class="form-control mb-3" name="synopsis">
                            <br></br>
                            <label>¿Cuál es la descripción de la película? (Opcional)</label>
                            <input type="text" class="form-control mb-3" name="description">
                            <br></br>

                            <label>¿Para qué idiomas está disponible?</label>
                            <input type="number" name="language[]" placeholder="idLanguage 1"><br>
                            <input type="number" name="language[]" placeholder="idLanguage 2"><br>
                            <input type="number" name="language[]" placeholder="idLanguage 3"><br>
                            <br></br>
                            <label>¿Qué categorías tiene asociadas?</label>
                            <input type="number" name="category[]" placeholder="idCategory 1"><br>
                            <input type="number" name="category[]" placeholder="idCategory 2"><br>
                            <br></br>
                            <label>¿Qué personajes principales forman parte de la película?</label>
                            <input type="number" name="character[]" placeholder="idCharacter 1"><br>
                            <input type="number" name="character[]" placeholder="idCharacter 2"><br>
                            <input type="number" name="character[]" placeholder="idCharacter 3"><br>
                            <br></br>
                            <label>¿Quiénes son sus intérpretes?</label>
                            <input type="number" name="participant[]" placeholder="idParticipant 1"><br>
                            <input type="number" name="participant[]" placeholder="idParticipant 2"><br>
                            <input type="number" name="participant[]" placeholder="idParticipant 3"><br>
                            <br></br>
                            <label>¿Qué tráiler se adjunta?</label>
                            <input type="number" name="trailer"><br>
                            <br></br>
                            <button class="btn btn-primary" type="submit"> Añadir </button>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <h5 class="text-center">Eliminar película</h5>
                    <div class="card-body">
                        <form action="/movies/deleteMovie" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <label>ID</label>
                            <input type="text" class="form-control mb-3" name="id" required>
                            <button class="btn btn-primary" type="submit">Eliminar</button>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <h5 class="text-center">Modificar película</h5>
                    <div class="card-body">
                        <form action="/movies/updateMovie" method="POST">
                            <input type="hidden" name="_method" value="PUT">
                            <label>ID</label>
                            <input type="text" class="form-control mb-3" name="id" required>
                            <br></br>
                            <label>¿Cuál es el título de la película?</label>
                            <input type="text" class="form-control mb-3" name="title">
                            <br></br>
                            <label>¿Cuál es la duración (en minutos) de la película?</label>
                            <input type="number" class="form-control mb-3" name="duration">
                            <br></br>
                            <label>¿Cuál es la URL de la película?</label>
                            <input type="url" class="form-control mb-3" name="urlVideo">
                            <br></br>
                            <label>¿Cuál es la URL de la portada de la película?</label>
                            <input type="url" class="form-control mb-3" name="urlTitlePage">
                            <br></br>
                            <label>¿Cuál es la fecha de estreno?</label>
                            <input type="date" class="form-control mb-3" name="releaseDate">
                            <br></br>
                            <label>¿Cuál es la sinopsis de la película?</label>
                            <input type="text" class="form-control mb-3" name="synopsis">
                            <br></br>
                            <label>¿Cuál es la descripción de la película?</label>
                            <input type="text" class="form-control mb-3" name="description">
                            <br></br>

                            <label>¿Para qué idiomas está disponible?</label>
                            <input type="number" name="language[]" placeholder="idLanguage 1"><br>
                            <input type="number" name="language[]" placeholder="idLanguage 2"><br>
                            <input type="number" name="language[]" placeholder="idLanguage 3"><br>
                            <br></br>
                            <label>¿Qué categorías tiene asociadas?</label>
                            <input type="number" name="category[]" placeholder="idCategory 1" ><br>
                            <input type="number" name="category[]" placeholder="idCategory 2"><br>
                            <br></br>
                            <label>¿Qué personajes principales forman parte de la película?</label>
                            <input type="number" name="character[]" placeholder="idCharacter 1"><br>
                            <input type="number" name="character[]" placeholder="idCharacter 2"><br>
                            <input type="number" name="character[]" placeholder="idCharacter 3"><br>
                            <br></br>
                            <label>¿Quiénes son sus intérpretes?</label>
                            <input type="number" name="participant[]" placeholder="idParticipant 1"><br>
                            <input type="number" name="participant[]" placeholder="idParticipant 2"><br>
                            <input type="number" name="participant[]" placeholder="idParticipant 3"><br>
                            <br></br>
                            <label>¿Qué tráiler se adjunta?</label>
                            <input type="number" name="trailer"><br>
                            <br></br>
                            <button class="btn btn-primary" type="submit"> Modificar </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>