<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5 mb-5"> APP API-REST Python - Flask - MongoDB </h1>
    </div>
    <div class="container">
        <div class="row row-col-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Añadir película</h5>
                    </div>
                    <div class="card-body">
                        <form action="/movies/addMovie" method="POST">
                            <label>¿Cúal es el título de la Movie?</label>
                            <input type="text" class="form-control mb-3" name="title" required>
                            <br></br>
                            <label>¿Cúal es la URL de la Movie?</label>
                            <input type="url" class="form-control mb-3" name="urlVideo" required>
                            <br></br>
                            <label>¿Cúal es la URL de la portada de la Movie? (Opcional)</label>
                            <input type="url" class="form-control mb-3" name="urlTitlePage">
                            <br></br>
                            <label>¿Cúal es la fecha de estreno (Opcional)?</label>
                            <input type="date" class="form-control mb-3" name="releaseDate">
                            <br></br>
                            <label>¿Cúal es la sinopsis de la Movie (Opcional)?</label>
                            <input type="text" class="form-control mb-3" name="synopsis">
                            <br></br>
                            <label>¿Cúal es la descripción de la Movie? (Opcional)</label>
                            <input type="text" class="form-control mb-3" name="description">
                            <br></br>
                            <label>¿Cuál es la duración de la película?(En minutos)</label>
                            <input type="number" class="form-control mb-3" name="duration" required>
                            <br></br>
                            <label>¿Para qué idiomas está disponible?</label>
                            <input type="number" name="language[]" placeholder="idLanguage 1" required><br>
                            <input type="number" name="language[]" placeholder="idLanguage 2 (Opcional)"><br>
                            <input type="number" name="language[]" placeholder="idLanguage 3 (Opcional)"><br>
                            <br></br>
                            <label>¿Qué categorías tiene asociadas?</label>
                            <input type="number" name="category[]" placeholder="idCategory 1" required><br>
                            <input type="number" name="category[]" placeholder="idCategory 2 (Opcional)"><br>
                            <br></br>
                            <label>¿Qué personajes principales forman parte de la película?</label>
                            <input type="number" name="character[]" placeholder="idCharacter 1" required><br>
                            <input type="number" name="character[]" placeholder="idCharacter 2" required><br>
                            <input type="number" name="character[]" placeholder="idCharacter 3" required><br>
                            <br></br>
                            <label>¿Quiénes son sus intérpretes?</label>
                            <input type="number" name="participant[]" placeholder="idParticipant 1" required><br>
                            <input type="number" name="participant[]" placeholder="idParticipant 2" required><br>
                            <input type="number" name="participant[]" placeholder="idParticipant 3" required><br>
                            <br></br>
                            <label>¿Qué trailer se adjunta?</label>
                            <input type="number" name="trailer" required><br>
                            <br></br>
                            <button class="btn btn-primary" type="submit"> Añadir </button>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Eliminar película</h5>
                    </div>
                    <div class="card-body">
                        <form action="/movies/deleteMovie" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <label>Nombre</label>
                            <input type="text" class="form-control mb-3" name="name">
                            <button class="btn btn-primary" type="submit">Eliminar</button>
                        </form>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/movies/movieFound" method="GET">
                        <label>¿Qué película deseas buscar?</label>
                        <input type="number" class="form-control mb-3" name="idMovie" required>
                        <button class="btn btn-primary" type="submit"> Buscar </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>