<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5 mb-5"> APP API-REST Python - Flask - MongoDB </h1>
    </div>
    <div class="container">
        <div class="row row-col-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
            <div class="col-md-6 mb-3">
                <div class="card-body">
                    <form action="/trailers/trailerFound" method="GET">
                        <label>¿Qué tráiler deseas buscar?</label>
                        <input type="number" class="form-control mb-3" name="idTrailer" required>
                        <button class="btn btn-primary" type="submit"> Buscar </button>
                    </form>
                </div>

                <div class="card">
                    <h5 class="text-center">Añadir tráiler</h5>
                    <div class="card-body">
                        <form action="/trailers/addTrailer" method="POST">
                            <label>¿Cuál es el título del tráiler?</label>
                            <input type="text" class="form-control mb-3" name="title" required>
                            <br></br>
                            <label>¿Cuál es la duración (en minutos) del tráiler?</label>
                            <input type="number" class="form-control mb-3" name="duration" required>
                            <br></br>
                            <label>¿Cuál es la URL del tráiler?</label>
                            <input type="url" class="form-control mb-3" name="urlVideo (Opcional)">
                            <br></br>
                            <label>¿Para qué idiomas está disponible?</label>
                            <input type="number" name="language[]" placeholder="idLanguage 1 (Opcional)"><br>
                            <input type="number" name="language[]" placeholder="idLanguage 2 (Opcional)"><br>
                            <input type="number" name="language[]" placeholder="idLanguage 3 (Opcional)"><br>
                            <br></br>
                            <label>¿Qué categorías tiene asociadas?</label>
                            <input type="number" name="category[]" placeholder="idCategory 1 (Opcional)" ><br>
                            <input type="number" name="category[]" placeholder="idCategory 2 (Opcional)"><br>
                            <br></br>
                            <label>¿Qué personajes principales forman parte del tráiler?</label>
                            <input type="number" name="character[]" placeholder="idCharacter 1 (Opcional)"><br>
                            <input type="number" name="character[]" placeholder="idCharacter 2 (Opcional)"><br>
                            <input type="number" name="character[]" placeholder="idCharacter 3 (Opcional)"><br>
                            <br></br>
                            <label>¿Quiénes son sus intérpretes?</label>
                            <input type="number" name="participant[]" placeholder="idParticipant 1 (Opcional)"><br>
                            <input type="number" name="participant[]" placeholder="idParticipant 2 (Opcional)"><br>
                            <input type="number" name="participant[]" placeholder="idParticipant 3 (Opcional)"><br>
                            <br></br>
                            <button class="btn btn-primary" type="submit"> Añadir </button>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <h5 class="text-center">Eliminar tráiler</h5>
                    <div class="card-body">
                        <form action="/trailers/deleteTrailer" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <label>ID</label>
                            <input type="text" class="form-control mb-3" name="id" required>
                            <button class="btn btn-primary" type="submit">Eliminar</button>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <h5 class="text-center">Modificar tráiler</h5>
                    <div class="card-body">
                        <form action="/trailers/updateTrailer" method="POST">
                            <input type="hidden" name="_method" value="PUT">
                            <label>ID</label>
                            <input type="text" class="form-control mb-3" required name="id">
                            <br></br>
                            <label>¿Cuál es el título del tráiler?</label>
                            <input type="text" class="form-control mb-3" name="title">
                            <br></br>
                            <label>¿Cuál es la duración (en minutos) del tráiler?</label>
                            <input type="number" class="form-control mb-3" name="duration">
                            <br></br>
                            <label>¿Cuál es la URL del tráiler?</label>
                            <input type="url" class="form-control mb-3" name="urlVideo">
                            <br></br>
                            <label>¿Para qué idiomas está disponible?</label>
                            <input type="number" name="language[]" placeholder="idLanguage 1"><br>
                            <input type="number" name="language[]" placeholder="idLanguage 2"><br>
                            <input type="number" name="language[]" placeholder="idLanguage 3"><br>
                            <br></br>
                            <label>¿Qué categorías tiene asociadas?</label>
                            <input type="number" name="category[]" placeholder="idCategory 1" ><br>
                            <input type="number" name="category[]" placeholder="idCategory 2"><br>
                            <br></br>
                            <label>¿Qué personajes principales forman parte del tráiler?</label>
                            <input type="number" name="character[]" placeholder="idCharacter 1"><br>
                            <input type="number" name="character[]" placeholder="idCharacter 2"><br>
                            <input type="number" name="character[]" placeholder="idCharacter 3"><br>
                            <br></br>
                            <label>¿Quiénes son sus intérpretes?</label>
                            <input type="number" name="participant[]" placeholder="idParticipant 1"><br>
                            <input type="number" name="participant[]" placeholder="idParticipant 2"><br>
                            <input type="number" name="participant[]" placeholder="idParticipant 3"><br>
                            <br></br>
                            <button class="btn btn-primary" type="submit">Modificar</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>